*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
:root {
  /* Primary color variablse */
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);

  /*Neutral color variable*/
  --Dark-gray: hsl(0, 0%, 59%);
}
html {
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
}
body{
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: var(--Dark-cyan);
  background-image: url('./images/bg-pattern-top.svg'), url('./images/bg-pattern-bottom.svg');
  background-position: top left, bottom right;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:50%;
}
h1{
  display: inline-block;
  font-size: inherit;
  margin-right: 10px;
}
span,
.span{
  color: var(--Dark-grayish-blue);
  font-weight: 400;
}
.card{
  margin:0 auto;
  max-width:95%;
  background:white;
  text-align: center;
  border-radius: 15px;
  position: relative;
  font-weight: 700;
}
.head-pattern{
  max-width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.dp{
  position: absolute;
  z-index: 1;
  object-position: center;
  display: block;
  border-radius: 50%;
  border:5px solid white;
  top: 76px;
  left: 33%;
}
.abt{
  margin:50px auto;
}
.info{
  display: flex;
  justify-content: space-around;
  border-top: 1px solid var(--Dark-gray);
  margin-top: 30px;
  padding:20px;
}
