@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
:root {
  /* Primary color variablse */
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);

  /*Neutral color variable*/
  --Dark-gray: hsl(0, 0%, 59%);
}
html {
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
}
